body{
    display: grid;
    place-items: center;
    height: 80vh;
    background: linear-gradient(to left, #b2d1ffde, #e6efff);
}
.container{
    width: 450px;
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 24px;
    background: white;
}
tr{
    border: 1px solid black;
}
h1{
    text-align: center;
}
.title #resetBtn{
    background: #dffff4;
    border: 0;
    border-radius: 5px;
}
.title #startBtn{
    background: #dffff4;
    border: 0;
    border-radius: 5px;
}