body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2c3e50;
    background: #f7f8fa;
    max-width: 1200px;
}
h2{
    font-family: system-ui, sans-serif;
    font-weight: bold;
}
section{
    display: flex;
    flex-direction: row;
    margin: 25px;
    padding: 10px;
}